<div class="big-card-alternate">
  {% assign labels = site.data.generated.label %}
  <input type="checkbox" id="input_{{ include.slug}}" class="button-trigger"/>
  <div class="card-title">
  <h3 id="{{ include.slug }}">{{ include.title }}
      <a href="#{{ include.slug }}" class="anchor"><i class="fa-solid fa-link"></i></a>
  </h3>
  </div>
<div class="prev">
  {{ include.prev}}
</div>
<div class="description trigger" >
  {{ include.description }}
</div>
<div class="after trigger">
  {{ include.after}}
</div>
{%if include.after or include.description %}
<label for="input_{{ include.slug}}" class="see">
  <div class="see-more">
    {{- labels["see_more"][page.lang] }}
<i class="fa-solid fa-caret-down"></i>
  </div>
  <div class="see-less">
    {{- labels["see_less"][page.lang] }}
<i class="fa-solid fa-caret-up"></i>
  </div>
</label>
{% endif %}
</div>
