<div class="container">
{%- assign profile=site.data.generated.profile -%}
{% assign labels = site.data.generated.label %} 
{% assign slugs = site.data.generated.slug -%}
{% assign strings = site.data.generated.string -%}

{%- if page.url == "/" -%}
 {%- assign base_url = page.lang | append: "/" -%}
{% else %}
 {%- assign base_url = page.url | relative_url -%}
{%- endif -%}

{% assign profile_description = profile.description %}
{{ profile_description[page.lang] }}

<h1 > {{ labels["projects"][page.lang]}}  </h1>

{%- assign types = site.data.generated.project_type -%}

<div class="project-list">
   {%- for type in types -%}

   {%- capture type_title -%}
   <a href="{{ base_url }}projects#{{strings[type.project_type_name][page.lang] |
      slugify}}" >{{ strings[type.project_type_name][page.lang] }}</a>
   {%- endcapture -%}

   {%- capture type_content -%}
   {%- assign type_projects = site.data.generated.project | where:
   "project_type_id", type.project_type_id | where: "highlight", true -%}
   <ul>
      {%- for project in type_projects -%}
      <li><a href="{{ base_url
            }}projects#{{slugs[project.project_title][page.lang]}}">{{ strings[project.project_title][page.lang] }}</a></li> 
      {%- endfor -%}
   </ul>
   {%- endcapture -%}

   {%- include small-card.html
   title= type_title
   content = type_content
   -%}

   {%- endfor -%}

   <div class="see-more">
      <a href="{{base_url}}projects">
         {{ labels["see_more"][page.lang] }} {{labels["projects"][page.lang] |
         downcase}}
<i class="fa-solid fa-caret-right"></i>
      </a>
   </div>
</div>

<h1 > {{ labels["publications"][page.lang]}}  </h1>

{%- assign types = site.data.generated.publication_type -%}

<div class="publication-list">
   {%- for type in types -%}

   {%- capture type_title -%}
   <a href="{{ base_url
      }}publications#{{slugs[type.publication_type_name][page.lang]}}" >{{
      strings[type.publication_type_name][page.lang] }}</a>
   {%- endcapture -%}

   {%- capture type_content -%}
   {%- assign type_publications = site.data.generated.publications | where:
   "type", type.publication_type_id -%}
   <ul>
      {%- for publication in type_publications -%}
      <li><a href="{{ base_url
            }}publications#{{ publication.id}}">{{ publication.title }}</a></li> 
      {%- endfor -%}
   </ul>
   {%- endcapture -%}

   {%- include small-card.html
   title= type_title
   content = type_content
   -%}

   {%- endfor -%}

</div>

<div class="engage-hiring">
<p>{{ profile.engage_hiring[page.lang] }}</p>

   <div class="see-more">
      <a href="{{base_url}}profile">
         {{ labels["see_profile"][page.lang] }}
<i class="fa-solid fa-caret-right"></i>
      </a>
   </div>
</div>


<h1 > {{ labels["experience"][page.lang]}}  </h1>

<div class="experience-list">
   {%- assign experience_list = site.data.generated.experience -%}

   {%- for experience in experience_list limit:2 -%}

   {%- capture experience_title -%}
   {%- assign organization = site.data.generated.organization | where:
   "org_id", experience.organization_id | first -%}
   <a href="{{base_url}}experience#{{experience.experience_id |slugify}}" >
      {{experience.period}} <i class="fa-solid fa-arrow-right-long"></i> {{ organization.org_short_name }}
   </a>
   {%- endcapture -%}

   {%- capture experience_content -%}
   {{ strings[experience.position][page.lang] }}
   {%- endcapture -%}

   {%- include small-card.html
   title= experience_title
   content = experience_content
   -%}
   {%- endfor -%}

   <div class="see-more">
      <a href="{{base_url}}experience">
         {{ labels["see_more"][page.lang] }} {{labels["experience"][page.lang] |
         downcase}}
<i class="fa-solid fa-caret-right"></i>
      </a>
   </div>
   
</div>

<h1 > {{ labels["skills"][page.lang]}}  </h1>

<div class="skills-list">
{% for category in site.data.generated.skill_category %}
{%- assign category_name = strings[category.category_name] -%}

{%- capture title -%}
<a href="{{ base_url }}skills#{{slugs[category.category_name][page.lang]}}" >{{ category_name[page.lang] }}</a>
{%- endcapture -%}

{%- capture content -%}
{% assign selected_skills = site.data.generated.skill | where: "category_id",
category.category_id %}
<ul class="enumerate">
{% for skill in selected_skills %}

{% assign skill_name = site.data.generated.string[skill.skill_name] %}
{% assign slug = site.data.generated.slug[skill.skill_name] %}
<li >
<a href="{{ base_url }}skills#{{ slug[page.lang] }}">
{{- skill_name[page.lang] -}}
</a></li>

{% endfor %}
</ul>
{%- endcapture -%}

{%- include small-card.html
   title= title
   content = content
-%}

{% endfor %}
</div>
</div>
