<div>
  {% assign strings = site.data.generated.string -%}
  {% assign labels = site.data.generated.label -%}
  {% assign profile_types = site.data.generated.profile_type -%}
  {% assign profile = site.data.generated.profile -%}

  {%- for type in profile_types -%}
  <h2 id="{{slugs[type.profile_type_name][page.lang]}}"> {{strings[type.profile_type_name][page.lang]}}</h2>

  <div class="profile-description">
    {{ profile[type.profile_type_description][page.lang] }} 
  </div>

  <div class="interest-topics">
    <strong >{{labels["interest_topics"][page.lang]}}</strong>: 
    {{ profile[type.profile_type_interest_topics][page.lang] }} 
  </div>

  {%- endfor -%}
</div>
