<div>
  
{% assign labels = site.data.generated.label %}
{% assign strings = site.data.generated.string %}
{% assign slugs = site.data.generated.slug %}
{% assign descriptions = site.data.generated.description %}
{% assign volunteering_list = site.data.generated.volunteering %}
{% assign organizations = site.data.generated.organization %}

{% for volunteering in volunteering_list %}

{% assign organization = organizations | where: "org_id",
volunteering.organization_id | first %}

{%- capture title -%}
{%- if organization.org_url -%}
<a href="{{ organization.org_url }}">
{{ organization.org_name }}
({{ organization.org_short_name }}) 
</a>
{%- else -%}
{{ organization.org_name }}
({{ organization.org_short_name }}) 
{%- endif -%}
{%- endcapture -%}

{%- capture slug -%}
{{ volunteering.volunteering_id | slugify }}
{%- endcapture -%}

{%- capture description -%}
{{ descriptions[volunteering.description][page.lang] }}
{%- endcapture -%}


{%- capture subtitle -%}
{%- if volunteering.department and volunteering.department != "" -%}
<div class="department">{{ volunteering.department }}</div>
{%- endif -%}
<div class="position">{{ strings[volunteering.position][page.lang] }}</div>
<div class="period">{{ volunteering.start_date }} - 
  {% if volunteering.end_date and volunteering.end_date!="" -%}
{{ volunteering.end_date }}
  {%- else -%}
  {{ labels["now"][page.lang] | downcase }}
  {%- endif -%}
</div>
{%- endcapture -%}

{% include mid-card.html 
  title=title
  slug=slug
  subtitle=subtitle
  description=description %}

{% endfor %}
</div>
