.lang-options {  
  ul {
    margin: 0;
    margin-top: 0.2rem;
    list-style-type: none;
    li{
      margin-right: 0.5rem;
      display:inline;
    }
  } 
}

.enumerate {
    margin-left:0;
   li {
    list-style-type: none;
    display: inline;
    &:after{
      content:", ";
    }
    &:last-child{
      &:after{
        content: "";
      }
    }
  }
}

.small-card{
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem 0.5rem 0.75rem;

  > .card-title{
    font-size: 1.25rem;
    font-weight: bold;

    h4{
    margin-bottom: 0.5rem;
    }
    a {
      font-weight: 600;
      color: black;
    }
  }
}

.project-list, .experience-list, .publication-list {
  > .small-card {
    margin-bottom:0.5rem;
  }
  > .see-more{
    > a{
      color: black;
    }
    margin-bottom: 1rem;
  }
  ul{
    margin-bottom:0;
  }
}

h2 {
  border-bottom: 0.5px solid #aaaaaa;
}

.footer-heading{
  border-bottom: 0px;
}

.mid-card{
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem 0.5rem 1rem;
  margin-bottom: 1rem;

  h4 {
    margin-bottom:0rem;
    
    a {
      color: black;
    }
  }

  .header-card{
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #dddddd;
    margin-bottom: 0.5rem;
  }

  .department{
    font-size: 1.125rem;
    font-style: italic;
  }

  .position{
    font-size: 1.125rem;
    font-weight: 600;
  }

  .period{
    font-size: 1.5rem;
  }
}

.big-card, .big-card-alternate{
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem;
  margin-bottom: 1rem;
  .prev{
    padding-bottom: 0.5rem;
  }
  .after{
    padding-top: 0.5rem;
    overflow:hidden;
    transition: height 0.2s ease-out;
  }
  .button-trigger {
    display: none;
  }
  label {
    cursor:pointer;
    &:hover{
      text-decoration:underline;
    }
  }
  input ~ .trigger {
    clear: both;
    display: none;
  }
  input:checked ~ .trigger {
    display: block;
  }

  input ~ label>.see-less {
    clear: both;
    display: none;
  }
  input:checked ~ label>.see-less {
    display: block;
  }
  input ~ label>.see-more {
    display: block;
  }
  input:checked ~ label>.see-more {
    clear: both;
    display: none;
  }
  .see{
    text-align: right;
  }
}

.big-card-alternate{
  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .date{
    font-size: 1.25rem;
  }
  .author{
    font-size: 1.125rem;
  }
  .publisher{
    font-size: 1.25rem;
    font-style: italic;
  }
  .container{
    font-size: 1.25rem;
    font-style: italic;
  }
  .enumerate{
    margin-bottom: 0;
  }
}

.engage-hiring{
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #dddddd;
  font-size: 1rem;
}

.skills-list{
    display:flex;
    flex-wrap: wrap;

   >div{
    width:30%;
    margin-right:0.25rem;
    margin-bottom:0.25rem;

    @media (max-width:43.75rem){
    width:45%;
    }
    @media (max-width:31.25rem){
    width:100%;
    }
  }
}
