<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- capture home-text -%}
        {{- site.data.generated.label["home"][page.lang] -}}
        {%- endcapture -%}
        {%- if page.layout != "home" -%}
         {%- include breadcrumbs.html home-text= home-text -%}
        {%- endif -%}
        
        {{ content }}

        <div class="share-links">
        {%- capture share-text -%}
        {{- site.data.generated.label["share_on"][page.lang] -}}
        {%- endcapture -%}
        {%- include share-buttons.html text=share-text -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
